html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Root necesita altura completa */
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.pixel-font {
  font-family: "Press Start 2P", system-ui, sans-serif;
  user-select: none;
}

.page-content {
  padding-top: 100px; 
  box-sizing: border-box;
  width: 100vw;
}

